anyio==3.5.0
asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
fastapi==0.71.0
h11==0.12.0
httpcore==0.14.4
httptools==0.3.0
httpx==0.21.3
idna==3.3
pydantic==1.9.0
python-dotenv==0.19.2
PyYAML==6.0
rfc3986==1.5.0
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.0.1
uvicorn==0.17.0
watchgod==0.7
websockets==10.1
